* {

	color: white;
}
body {
	background: #101010;
}

h1 {
	font-size: 50px;
	color: red;
	text-decoration: underline;
	font-family: sans-serif;
}

p {
	padding: 10px;
	font-size: 30px;
	font-family: sans-serif;
	color: #fff;
}

form {
	font-size: 20px;
}

.button {
	margin: 20px;
	float: right;
	color: #fff;
	font-size: 25px;
	padding: 10px;
	background: green;
}
.button:hover {
	color: #404040;
	font-size: 25px;
	padding: 10px;
	background: green;
	box-shadow: 0 0 25px rgba(0,100,0,0.6);
}

.img-responsive {
	border-radius: 20px;

}

@media screen and (max-width: 980px){

h1 {
	font-size: 30px;
}

p {
	font-size: 20px;
}

.img-responsive {
	width: 250px;
	}

.button {
	margin: 20px;
	float: right;
	color: #fff;
	font-size: 15px;
	padding: 10px;
	background: green;
}
.button:hover {
	color: #404040;
	font-size: 15px;
	padding: 10px;
	background: green;
	box-shadow: 0 0 25px rgba(0,100,0,0.6);
}

}






.rating {

  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 3rem;
  height: 3rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}
